{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}    
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/max.png" %}" alt="My Blog"/>
            <h2>My Blog</h2>
        </header>
        <p> HI, I am Max, I love to code</p>
    </section>

    <section id="latest-posts">
        <h2>latest posts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>
            What I do
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p>
        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    </section>
{% endblock %}